:root {
    --lightcyan: hsl(193, 38%, 86%);
    --neongreen: hsl(150, 100%, 66%);
    --grayishblue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --darkblue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: var(--darkblue);
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

#card {
    margin: 0 auto;
    border-radius: 0.7em;
    padding: 2.5em 2em;
    text-align: center;
    background-color: var(--dark-grayish-blue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.15);
}

#advice-id {
    color: var(--neongreen);
    font-size: .5rem;
    letter-spacing: .3rem;
}

#advice-body {
    color: var(--lightcyan);
    font-size: 1.3rem;
    padding: 1em 0;
}

.divider {
    margin-bottom: .2em;
}

#dice {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transform: translateY(1.5em);
    padding: 1em 0.8em;
    background-color: var(--neongreen);
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice img {
    width: 70%;
} 

#dice:hover {
    box-shadow: 0px 0px 1.5em var(--neongreen);
    transition: 0.4s;
}